@media (max-width: 900px) {
  .pc-disp {
    display: none;
  }

  .sp-disp {
    display: block;
  }

  .header:hover {
    background: none;
  }

  .header-inner {
    padding: 0 20px;
  }

  .sp-menu-button {
    cursor: pointer;
    z-index: 120;
  }

  .sp-menu-button_line {
    display: block;
    width: 20px;
    height: 2px;
    background: #22304e;
    margin: 0 auto 6px;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
    animation-duration: .35s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  .sp-menu-button_line:last-child {
    margin-bottom: 0;
  }

  .is-menu-open .sp-menu-button_line--1 {
    background: #22304e;
    animation-name: menu1In;
  }
  .is-menu-open .sp-menu-button_line--2 {
    animation-name: menu2In;
  }
  .is-menu-open .sp-menu-button_line--3 {
    background: #22304e;
    animation-name: menu3In;
  }

  @keyframes menu1In {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(7px) rotate(-45deg);
    }
  }
  @keyframes menu2In {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes menu3In {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-9px);
    }
    100% {
      transform: translateY(-9px) rotate(45deg);
    }
  }

  .is-menu-close .sp-menu-button_line--1 {
    animation-name: menu1Out;
  }
  .is-menu-close .sp-menu-button_line--2 {
    animation-name: menu2Out;
  }
  .is-menu-close .sp-menu-button_line--3 {
    animation-name: menu3Out;
  }

  @keyframes menu1Out {
    0% {
      transform: translateY(7px) rotate(-45deg);
    }
    50% {
      transform: translateY(7px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes menu2Out {
    0% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes menu3Out {
    0% {
      transform: translateY(-9px) rotate(45deg);
    }
    50% {
      transform: translateY(-9px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .sp-menu {
    position: absolute;
    top: 0;
    z-index: 110;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-duration: .25s;
    transition-property: all;
  }

  .is-menu-open .sp-menu {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }

  .is-menu-open .sp-menu_overlay {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

  .sp-menu_content {
    position: fixed;
    z-index: 100;
    top: 0;
    right: -100%;
    background: #fff;
    width: 380px;
    /* width: 100%; */
    height: 100vh;
    transition: all .5s;
  }

  .is-menu-open .sp-menu_content {
    right: 0;
  }

  .sp-menu-nav {
    margin-top: 80px;
    padding: 20px;
  }

  .sp-menu-item {
    margin-bottom: 40px;
    padding-bottom: 5px;
    border-bottom: #22304e 1px solid;
  }

  .sp-menu-item a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 400;
    color: #22304e;
    padding: 0 10px;
  }

  .sp-menu-item a span {
    font-size: 15px;
    color: #6b6b6b;
    margin-left: 20px;
  }

  .top {
    padding: 0 20px;
  }

  .top-text {
    right: 20px;
    min-width: 300px;
  }

  .top-text h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .top-text p {
    font-size: 20px;
  }



  .footer-inner {
    padding: 20px;
  }

  .footer-menu {
    flex-flow: column;
  }

  .footer-menu-item::after {
    content: "";
  }

  .footer-logo, .footer-copyright {
    right: 30px;
  }
}




@media (max-width: 750px) {
  .top {
    padding: 0;
  }

  .top::before {
    position: absolute;
    content: '';
    width: 90%;
    top: 59px;
    right: 0;
    aspect-ratio: 5 / 4;
    background: #698098;
  }

  .top-left {
    width: 90%;
    height: 400px;
    max-width: none;
    background: none;
  }

  .top-left::before {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: #fff;
  }

  .top-text {
    top: 60%;
    bottom: auto;
  }

  .top-text h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .top-text p {
    font-size: 15px;
  }
}