@charset "UTF-8";

body {
  font-family: "Noto Sans", "Noto Sans JP", YuGothic, YuGothicM, "メイリオ", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.header-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header-logo {
  width: 180px;
}

.header-menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-menu-item {
  height: 100%;
}

.header-menu-item a {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  color: #192131;
  font-size: 15px;
  font-weight: 400;
}

.header-menu-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #4570ba;
  transition: opacity .2s;
  pointer-events: none;
  opacity: 0;
}

.header-menu-item a:hover, .header-menu-item.is-active a {
  color: #3a5f9f;
}

.header-menu-item a:hover::after, .header-menu-item.is-active a::after {
  opacity: 1;
}

.main {
  width: 100%;
  height: 100%;
  margin-top: 90px;
}

.top {
  position: relative;
  height: auto;
  padding: 0 8%;
  overflow: hidden;
}

.top::before {
  background: none;
}

.top-left {
  width: 65%;
  max-width: 700px;
  background: #698098;
  overflow: hidden;
}

.top-left::before {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: #fff;
}

.top-img {
  position: relative;
  padding: 0 60px 57px 0;
  vertical-align: top;
}

.top-text {
  position: absolute;
  bottom: 40%;
  right: 10%;
  min-width: 450px;
  letter-spacing: 3px;
  text-align: center;
  color: #22304e;
  background: rgba(255,255,255,0.6);
  padding: 10px;
  border-bottom: #868686 1px solid;
  border-right: #868686 1px solid;
}

.top-text h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 20px;
}

.top-text p {
  font-size: 30px;
  font-weight: 400;
}


.info {
  padding: 50px;
}

.info-title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  color: #192131;
  padding-bottom: 20px;
}


/* フッター */
.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eeeeee;
}

.footer-inner {
  height: 100%;
  padding: 30px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.footer-sns {
  display: flex;
  gap: 20px;
}

.footer-sns-item {
  font-size: 25px;
  color: #192131;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-menu-item {
  display: flex;
  font-size: 14px;
  color: #192131;
  gap: 10px;
}

.footer-menu-item::after {
  content: "|";
  display: block;
}

.footer-menu-item:last-child::after {
  content: "";
}

.footer-sns-item:hover, .footer-menu-item a:hover, .privacy:hover {
  opacity: .7;
}

.privacy {
  font-size: 13px;
  color: #505050;
}

.footer-logo {
  width: 150px;
  position: absolute;
  bottom: 45px;
  right: 50px;
}

.footer-copyright {
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-size: 14px;
  color: #868686;
}

.sp-disp {
  display: none;
}